<div class="col-md-4">
    <h3 class="text-center">Add user</h3>
    <form #userform='ngForm' (ngSubmit)='postUser(userform)'>
        <input type="text" name='name' #name='ngModel'class='form-control col-md-5 ' ngModel placeholder="enter name">
        <input type="email" name='email' #email='ngModel' class='form-control col-md-5' ngModel placeholder="enter email">
        <input type="tel" name='number'#number='ngModel'class='form-control col-md-5' ngModel placeholder="enter number">

        <button class="btn btn-primary" type='Submit'>Add User</button>

    </form>
</div>