
<div class="container table table-bordered col col-md-4 offset-4 mt-4">
    <h3>Registration form!</h3>
<form action="" [formGroup]='loginform' (ngSubmit)=formData(loginform) >
<div class="form-group">
    <input type="email"  placeholder="Username" name="uname" formControlName='uname' required>
    <div *ngIf='uname.touched && uname.invalid'>
        <div class=" alert alert-danger" *ngIf='uname.errors.required'> username is required</div>
        <div class=" alert alert-danger" *ngIf='uname.errors.minlength'>Enter minimum 6 character</div>
        <div class=" alert alert-danger" *ngIf='uname.errors.email'>enter email</div>
    </div>
</div>
<div>
    <input type="password" placeholder="Password" name="pass" formControlName='pass'>
    <div *ngIf='pass.touched && pass.invalid'>
        <div class=" alert alert-danger" *ngIf='pass.errors.required'>password is required</div>
        <div class="alert alert-danger" *ngIf='pass.errors.minlength'>enter atlest 4 character</div>
    </div>
</div><br>
<div>
    <button class="btn btn-primary">Login</button>
</div><br>
</form>
</div>
