body{
    background-color: blueviolet;
    border: 70px;
    margin: 10px 300px;
    border-block-end-width: 40px;
    width: 220px;
    
} 
 
.ty{
    border : solid black 3px;
    background-color: aqua;
    margin: 10px 500px;
    width: 300px;
    border-radius: 35px;
    padding: 60px;
}
{
    border-radius:30px;
} 
 /* form{
    text-align: center;
    margin-top: 200px;
    margin: 200px 200px;
    border: 5px solid;
    width: 300px;
    height: 150px;
    border-radius: 30px;
    border-color:lawngreen;
    color:darkorange;
    background-image: url('./ROY_6678.jpg');
    background-size: cover;
    box-shadow: 0px 0px 100px lawngreen;
 }
 input{
     text-align: center;
     border-radius: 10px;
 }
 body{
     margin-left: 300px;
     margin-top: 100px;
     background-image: url('./fast-food-junk-food-food-hamburger-wallpaper-preview.jpg');
     background-repeat: no-repeat;
     background-size: cover;
 } */