<p>movies2 works!</p>


<form #form="ngForm" action="" method="POST" role="form"(ngSubmit)="searchMovie(form)">
    <legend>Form title</legend>

    <div class="form-group">
        
        <input type="text" name="movie_name" class="form-control" id="" placeholder="Enter Movies" ngModel #name="ngModel">
    </div>

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- <div class="card card-body clo-md-5 offset-mt-3" *ngFor="let movie of moviesCollectin">
        <h3>{{movie.title}}</h3>
        <h4> Released Year:</h4>
        <h5 class="text-center">{{movie.Year}}</h5>
        <!-- <img src="{{movie.Poster}}" alt=""> -->



<!-- </div> --> 

<div class="col-md-3 offset-md-1 float float-left card card-body" *ngFor="let movie of moviesCollectin ">
        <img src="{{movie.Poster}}" alt="">
        <h4 class="text-center">{{movie.title}}</h4>
    <h5 class="text-center">{{movie.Year}}</h5>
</div>    
